@font-face {
    font-family: 'Gilroy Light';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy ExtraBold';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@import url(//db.onlinewebfonts.com/c/d1243736bfe07b546f8f1e54e7804afb?family=Galien);
*{
    font-family: 'Gilroy Light';
}
.header-index{
    background: linear-gradient(0deg, #98c3e861 8.84%, rgba(152, 195, 232, 0) 31.12%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-contact-us{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5em;
}
.navigation{
    width: 90%;
    padding: 4em 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.logo-left{
    background: #316099;
}
.logo-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy ExtraBold';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #316099;
    position: relative;
    right: 16px;
    z-index: 0;
    background: #fff;
}
.logo-left, .logo-right{
    width: 32px;
    height: 32px;
    border: 2px solid #316099;;
    border-radius: 50%;
}
.menu{
    width: 24px;
    height: 16px;
    background: url(../images/icon-menu.png);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    background: url(../images/main.png) no-repeat;
    background-position: 90% 50%;
}
.info-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3em 0em 15em 12em;
}
.info-text-head{
    font-family: 'Galien';
    font-size: 64px;
    line-height: 74px;
    font-weight: 550;
    letter-spacing: 0.06em;
    width: 620px;
    color: #1F3F68;
}
.info-text-description{
    width: 520px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15em;
    color: #1F3F68;
    opacity: 0.6;
    font-weight: 600;
    padding-top: 3em;
    padding-left: .5em;
}
.info-text-button{
    padding: 1em 3em;
    margin: 6em 0em 0em .5em;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.main-index{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10em;
}
.main-left, .main-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main-left{
    padding: 12em 0em 0em 0em;
    width: 30%;
}
.main-right{
    padding: 12em 0em 0em 0em;
    width: 30%;
}
.main-text{
    width: 370px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
    font-weight: 1000;
    padding: 0em 6em 4em 0em;
    box-sizing: content-box;
}
.card-one, .card-two, .card-three{
    width: 380px;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card-one{
    margin-top: 3em;
}
.card-three{
    margin-top: 8em;
}
.card-img{
    padding: 4em 3em 2em 0em;
    width: auto;
}
.card-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0em 2em;
}
.card-description-head{
    font-weight: 1000;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding-bottom: 1em;
}
.card-description-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    font-weight: 500;
}
.card-description-more{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3em;
}
.card-description-more-left{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    font-weight: 1000;
}
.card-description-more-right{
    width: 16px;
    height: 24px;
    background: url(../images/icon-for-card.png) no-repeat;
    background-position: 100% 65%;
    padding-right: 4em;
}
.card-two > .card-img{
    padding: 0em 0em 2em 0em;
    margin-top: -2em;
}
.card-two > .card-description > .card-description-more {
    padding-top: 4em;
}
.our-clients{
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.our-clients-description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    padding: 6em 0em 0em 6em;
}
.our-clients-description-left{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 1000;
    width: 300px;
}
.our-clients-description-right{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 540px;
    margin-left: 10em;
}
.our-clients-cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60%;
    padding: 8em 0em 8em 0em;
}
.out-clients-card{
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.out-clients-card:nth-child(1), .out-clients-card:nth-child(2), .out-clients-card:nth-child(3), .out-clients-card:nth-child(4){
    border-bottom: 1px solid #ffffff73;
}
.out-clients-card:nth-child(1), .out-clients-card:nth-child(2   ), .out-clients-card:nth-child(3), .out-clients-card:nth-child(5), .out-clients-card:nth-child(6), .out-clients-card:nth-child(7){
    border-right: 1px solid #ffffff73;
}
.out-clients-card:nth-child(8){
    background: #1f3f6852;
}
footer{
    background: #5A98D0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-main{
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8em 0em;
}
.footer-main-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-left: 12em;
}
.footer-main-left-head{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 1000;
    width: 340px;
}
.footer-main-left-bottom{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 480px;
    padding: 3em 0em; 
}
.footer-main-right{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 1.5em 4em;
    background: #5A98D0;
    border-radius: 10px;
    margin-bottom: 2em;
}
.footer-info{
    background: #316099;
    width: 80%;
}
.footer-info-main{
    border-top: 1px solid #ffffff73;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6em 0em 0em 12em;
}
.footer-info-main-column-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-info-main-column-left-head, .footer-info-main-column-left-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-info-main-column-left-row{
    padding: 1em 0em;
}
.footer-info-main-column-left-head-right{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-weight: 1000;
}
.footer-info-main-column-left-row-left{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 1000;
    padding-right: 2em;
}
.footer-info-main-column-left-row-right{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 264px;
}
.footer-info-main-column-left-foot{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding: 5em 0em;
}
.logo-foot-left{
    background: #98C3E8;
    width: 32px;
    height: 32px;
    border: 2px solid #316099;;
    border-radius: 50%;
}
.footer-info-main-column-left-head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-column{
    list-style-type: none;
}
.footer-column{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer-column > ul:nth-child(1){
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-weight: 1000;
    padding-bottom: 1em;
}
.footer-info-main-column-right{
    padding-right: 5em;
}
.header-main{
    background: url(../images/contact-us-background.png) no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-main-head{
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 1000;
    padding-bottom: .7em;
}
.header-main-text{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    width: 780px;
}
.main-contact-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.main-contact-us-main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main-contact-us-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}
.main-contact-us-top-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.main-contact-us-top-left-head{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    font-weight: 1000;
    padding: 1.5em 0em;
}
.main-contact-us-top-left-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    width: 299px;
    padding-bottom: .5em;
}
.main-contact-us-top-left-row-right{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-left: 1.5em;
    opacity: .7
}
.main-contact-us-top-left-img{
    padding: 3em 0em;
}
.main-contact-us-top-left-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .5em 0em;
}
.main-contact-us-top-right{
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 540px;
}
.contact-us-form{
    padding: 1em 3em 3em 3em; 
}
.form-text{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.9;
    font-weight: 500;
    padding: 2em 0em .5em 0em;
}
.contact-us-form > input, .form-textarea{
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1.5em 2em;
    width: 100%;
}
.form-submit{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    opacity: 1 !important; 
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    font-weight: 800;
    margin-top: 5em;
}
.form-textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 170px;
    max-height: 170px;
}
.main-contact-us-bottom{
    height: 480px;
    width: 80%;
    background: url(../images/map.png) no-repeat;
    background-size: cover;
    margin: 5em 0em;
}
.footer-contact-us{
    background: #fff;
}