@media only screen and (max-device-width: 480px) {
    .logo-left, .logo-right, .logo-foot-left{
        width: 50px;
        height: 50px;
    }
    .logo-right{
        right: 25px;
    }
    .menu{
        width: 50px;
        height: 36px;
        background-size: cover;
    }
    .info-text{
        padding: 1em 0em 7em 2em;
    }
    .info-text-head{
       font-size: 68px;
       width: 750px;

   }
   .info-text-description{
    padding-top: 1em;
    padding-bottom: 3em;
    width: 450px;
    padding-left: .3em;
    font-size: 32px;
    line-height: 44px;
}
.info-text-button{
    margin: 16em 0em 0em .5em;
    font-size: 32px;
}
.main-index{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main-left{
    padding: 6em 0em 0em 0em;
}
.main-left, .main-right{
    width: 100%;
}
.main-text{
    padding: 0em 0em 1em 0em;
    width: 90%;
    line-height: 60px;
    font-size: 64px;
}
.card-one, .card-two, .card-three{
    width: 90%;
    height: auto;
}
.card-img > img{
    width: 300px;
}
.card-description-head{
    font-size: 48px;
    padding-bottom: 1em;
    line-height: 50px;
}
.card-description-text{
    font-size: 36px;
    line-height: 36px;
}
.card-description-more{
    padding-top: 5em;
    padding-bottom: 3em;
}
.card-description-more-left{
    font-size: 48px;
}
.our-clients-cards{
    width: 80%;
}
.our-clients-description{
    padding: 6em 0em 0em 0em;
    flex-direction: column;
}
.our-clients-description-left{
    width: 500px;
    font-size: 48px;
}
.our-clients-description-right{
    margin-left: 0em;
    font-size: 36px;
    padding-top: 1em;
    width: auto;
    line-height: 44px;
}
.out-clients-card{
    text-align: center;
    font-size: 24px;
    padding: 4em 0em;
}
.footer-main-right{
    padding: 1em 2em;
    font-size: 48px;
    line-height: 48px;
}
.footer-main, .footer-info{
    width: 100%;
}
.footer-main-head{
    width: 80%;
    flex-direction: column;
    align-items: stretch;
}
.footer-main{
    padding: 4em 0em;
}
.footer-main-left-head{
    font-size: 48px;
    width: auto;
}
.popup-open{
    margin-right: 3em;
}
.footer-main-head, .footer-info-main{
    padding-left: 8em;
}
.footer-main-left-bottom{
    padding: 2em 0em;
    line-height: 44px;
    font-size: 36px;
}
.footer-column{
    width: 150px;
}
.main-contact-us-main{
    width: 100%;
}
.main-contact-us-top-right{
    width: auto;
}
.footer-info-main{
    width: auto;
}
.footer-info-main-column-left-row-right{
    font-size: 20px;
}
.footer-column{
    width: auto;
}
.footer-info-main-column-right, .footer-info-main-column-center{
    margin-top: .5em;
}
.footer-column > ul{
    font-size: 20px;
}
.footer-column > ul:nth-child(1), .footer-info-main-column-left-head-right{
    font-size: 32px;
}
.footer-info-main-column-left-foot{
    font-size: 24px;
}
}